@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Mono", monospace;
}

.css-bayan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.css-bayan__header {
  margin-bottom: 1rem;
}

.accordion {
  width: 37.5rem;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.accordion__header {
  color: #aaa;
  transition: all 0.2s ease-in-out;
}

.accordion:hover .accordion__icon {
  opacity: 1;
}

.accordion:hover .accordion__header {
  /* color: #0078d7; */
  color: #fff;
}

.accordion__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f0efff;
  font-size: 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
}

.accordion__item:first-child {
  background: none;
}

.accordion__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #000;
  cursor: pointer;
  user-select: none;
  align-items: center;
  border-radius: 3rem;
  border: 1px solid #fff;
}

.accordion__meme {
  display: none;
  max-width: 20rem;
  align-self: center;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.accordion__icon-closed {
  display: block;
}

.accordion__icon-opened {
  display: none;
}

.accordion__input {
  position: absolute;
  left: -100000px;
  transition: all 0.5s ease-in-out;
}

.accordion__input:checked ~ .accordion__meme {
  display: block;
}

.accordion__input:checked + .accordion__label {
  border: 3px solid #f7630c;
}

.accordion__input:checked + .accordion__label .accordion__icon-opened {
  display: block;
}

.accordion__input:checked + .accordion__label .accordion__icon-closed {
  display: none;
}

.accordion__input:checked + .accordion__label .accordion__header {
  color: #f7630c;
}

.accordion__item:hover .accordion__input ~ .accordion__meme {
  display: block;
}
